<% provide(:title, 'Education') %>
<h3 class="page_title">Education</h3>
<div class="main_content">
<table table class="table table-bordered">
<tr>
	<td width="200">
		<b>Harvard Business School</b><br/>
		Boston, MA.</td>
	<td><b>Master of Business Administration</b></br>
	With concentrations in marketing and entrepreneurial business<br>
	Elected Treasurer, Asian Business Club</br>
	Selected admission counselor</p>
	</td>
</tr>

<tr>
	<td><b>Imperial College<br />University of London</b><br/>London, England.</td>
	<td><b>Bachelor of Information Systems Engineering</b></br>
	Double major in Computer Science, Electrical and Electronics Engineering
	</td>
</tr>

<tr>
	<td><b>Padworth College</b><br />
		Reading, England.</td>
	<td><b>Awarded Full Scholarship</br><a href="http://en.wikipedia.org/wiki/GCE_Advanced_Level">GCE A-Levels</a></b></br>
		Advanced Mathematics<br>
		Physics<br>
		Chemistry<br>
		Biology<br>
	</td>
</tr>

<tr>
	<td><b>Continental School</b><br />
		Jeddah, Saudi Arabia.</td>
	<td><b><a href="http://en.wikipedia.org/wiki/General_Certificate_of_Education">GCSE O-Levels</a></b><br />	English, Mathematics, Biology, Physics, Chemistry, Geography, French, History.</br>
		Gymnastics Team Capitan</br>
	</td>
</tr>

</table>
</div>