<% provide(:title, 'Education') %>
<h4>Education</h4>

<table table class="table table-bordered">
<tr><th width="200">Harvard Business School</th><td>Boston, MA.</td></tr>
<tr><th>Imperial College</th><td>Boston, MA.</td></tr>
<tr><th>Padworth College</th><td>Boston, MA.</td></tr>
<tr><th>Continental School</th><td>Boston, MA.</td></tr>
</table>