<% provide(:title, 'Product Development and Marketing Professional') %>

<div class="Container">
	
	<table table class="table table-bordered">
		<tr><th width="120">Aspiration</th><td>Create disruptive technology products (such as iPhone Apps) that not only change the way people use traditional every day items but are also useful, fun, and easy to use.</td></tr>

		<tr><th>Objective</th><td>Seeks challenging product development and marketing leadership position to make significant contributions in a dynamic fast-paced company.</td></tr>

		<tr><th>Summary</th>
			<td><ul><li>Product Development and Marketing Professional with 12+ years experience in the consumer eCommerce space.</li>
		<li>Proven track record in launching and marketing products with focus on user acquisition and profitability.</li>
		<li>Seasoned expert in managing multiple concurrent projects with tight deadlines, varying priorities, and teams.</li>
		<li>Solid technology background with hands on web development, user interaction design, testing experiences.</li>
		<li>Highly motivated self-starter.</li>
	<li>Entrepreneur: founder and director of a profitable photo sticker business.</li></ul></td></tr>

		<tr><th><%= link_to 'Professional', home_professional_path %></th>
			<td><ul><li>Product Development and Business Strategy Consultant.</li>
	<li>Director, Marketing and Product Development, PicStickers.</li>
	<li>Sr. Group Product Manager, Partners, Shutterfly.</li>
	<li>Sr. Manager, Business and Product Development, BeVocal (acquired by Nuance).</li></ul></td></tr>

		<tr><th><%= link_to 'Education', home_education_path %></th>
			<td><ul><li>Harvard Business School, Master in Business Administration.</li>
		<li>Imperial College, London, Computer Science and Engineering Double Major.</li>
		<li>Scholarship recipient.</li></ul></td></tr>

		<tr><th><%= link_to 'Personal', home_personal_path %></th>
			<td><ul><li>Web Application Development Hobbist (HTML, Ruby on Rails, VXML)</li>
		<li>Multi-lingual world traveler.</li>
	<li>Competitive whitewater kayaker.</li></ul></td></tr>
		

		<tr><td colspan="2"><b><a href="resume_cchen.pdf" target="_blank">Printable resume</a></b></td></tr>
		
	
	</table>
	


</div>
