<% provide(:title, 'Product Development and Marketing Professional') %>

<div class="main_content">

	  <div class="hero-unit">
		<h3>Christine Chen, Product Development and Marketing Professional.</h3>
		<div  class="summary_content">
		<h5>Summary</h5><ul><li>Product Development and Marketing Professional with 12+ years experience in the consumer eCommerce space.</li>
	<li>Proven track record in launching and marketing products with focus on user acquisition and profitability.</li>
	<li>Seasoned expert in managing multiple concurrent projects with tight deadlines, varying priorities, budgets, teams.</li>
	<li>Solid technology background with hands on web development, user interaction design, and testing experiences.</li>
	<li>Highly motivated self-starter.</li>
<li>Entrepreneur: founder and director of a profitable photo sticker business.</li></ul>

   		<h5>Aspiration</h5>Create products that not only change the way people use traditional every day items but are also useful, fun, and easy to use.<br/>
		
		<h5>Objective</h5>Seeks challenging product development leadership position to make significant contributions in a dynamic, fast-paced company.
		</div>
	<br />

		<table >
			<tr class="summary_table_header">
				<th><a class="btn btn-primary btn-large" href="professional">Professional</a></th>
				<th><a class="btn btn-primary btn-large" href="education">Education</a></th>
				<th><a class="btn btn-primary btn-large" href="personal">Personal</a></th>
			</tr>
			<tr> <td height="10" colspan="3"></td></tr>
			<tr valign="top"  class="summary_content">
				<td><ul><li>Product Development and Business Strategy Consultant.</li>
		<li>Director, Marketing and Product Development, PicStickers.</li>
		<li>Sr. Group Product Manager, Partners, Shutterfly.</li>
		<li>Sr. Manager, Business and Product Development, BeVocal.</li><li>Sr. Associate, Investment Banking, Bankers Trust.</li></ul></td>
				
		<td><ul><li>Harvard Business School, Master in Business Administration.</li>
			<li>Imperial College, London, Computer Science and Engineering Double Major.</li>
			<li>Scholarship recipient.</li></ul></td>
				<td><ul><li>Web Application Development Hobbyist (HTML, Ruby on Rails, VXML)</li>
			<li>Multi-lingual world traveler.</li>
		<li>Competitive whitewater kayaker.</li></ul></td>
			</tr>
		</table>
      </div>




</div>
