<% provide(:title, 'Personal Background') %>
<h4>Personal Background</h4>

<table table class="table table-bordered">
<tr><th width="120">Email</th><td>	<a href="mailto:christine@ccwchen.com">
	christine@ccwchen.com</a></td></tr>
<tr><th>Phone</th><td>650.387.3524</td></tr>
<tr><th>Skype</th><td>kayakera</td></tr>
<tr><th>Web Site</th><td><a href="http://www.ccwchen.com">www.ccwchen.com</a> </td></tr>
</table>
