<% provide(:title, 'Personal Background') %>
<h3 class="page_title">Personal Background</h3>

<div class="main_content">
<table table class="table table-bordered">
	
<tr><th width="120">Background</th><td>	Born in Taiwan.</br>
	Attended elementary school in Taipei, Taiwan and high school in Jeddah, Saudi Arabia.</br>
	Won 2-year full scholarship to <a href="http://en.wikipedia.org/wiki/Sixth_form_college" target="blank">sixth form college</a> in Reading, England.</br>
	Computer science and engineering double major at Imperial College, University of London.</br>
	Worked in investment banking in London, New York, and Hong Kong.</td></tr>
	
	
<tr><th>Skills</th><td>Web Development Hobbyist: Ruby, Rails, HTML, VXML, CSS, Git, ...etc.<br />Working knowledge of User Interaction Design (web and voice).</br>Proficient with Photoshop Elements.</td></tr>
<tr><th>Languages</th><td>Fluent in English and Mandarin Chinese.<br />Working knowledge of Cantonese.<br />Basic Spanish.</td></tr>
<tr><th>Sports</th><td>Competitive Whitewater Kayaker.<br />Regular Yoga Practitioner.<br />Occasional biker, hiker, and runner.</td></tr>
<tr><th>Other Interests</th><td>Avid Reader.<br />Aspiring writer and cook.</td></tr>
</table>
</div>