<% provide(:title, 'Product Portfolio') %>

<h3 class="page_title">Product Portfolio</h3>


<div class="main_content">

<table table class="table table-bordered">

<tr>
<th width="120">title</th>
<td>description</td>
<td>photo link</td>
</tr>


</table>

</div>		
