<% provide(:title, 'Product Portfolio') %>

<h3 class="page_title">Product Portfolio</h3>


<div class="main_content">

<table table class="table table-bordered">

<tr>
<th width="50" rowspan="2">Retail</th>
<td><b>Target Photo</b></br>
<li>Order prints on Shutterfly website for pickup at Target retail stores nationwide.</li>
<li>Shutterfly Prepaid Products sold in Target Stores: photo books, calendars, greeting cards, note cards, Shutterfly gift certificates.</li></td>
<td width="100"><a href="http://targetphoto.shutterfly.com" target="_blank"><img border="0" src="http://www.ccwchen.com/images/targetlogo.gif" width="150"/></a></td>
</tr>

<tr>
<td>	<b>Shutterfly Photo Kiosk</b></br>
	<li>Upload photos to Shutterfly web site.</li>
	<li>Order prints and photo cards for immediate printing at the kiosk.</li><li>Order prints, photo cards, and other photo gifts (e.g. T-shirts, Key chains, and Mugs) for shipping to home.</li></td>
<td><a href="http://share.shutterfly.com/action/welcome?sid=0AcsWLhwzatGLV7g" target="_blank"><img border="0" src="http://www.ccwchen.com/images/sflykiosk.jpg"/></a></td>
</tr>

<tr>
<th rowspan="2"><b>User Migrations</b></th>
<td><b>Yahoo! Photo</b><li>Migration of Yahoo! Photo users and images to Shutterfly.</li></td>
<td><img border="0" src="http://www.ccwchen.com/images/yahoologo.bmp" width="150"/></td>
</tr>

<tr>
<td><b>Sony ImageStation</b><li>Migration of Sony ImageStation users and images to Shutterfly.</li></td>
<td><img border="0" src="http://www.ccwchen.com/images/sonylogo.bmp" width="150"/></td>
</tr>

<tr>
<th rowspan="2"><b>Reward Programs</b></th>
<td><b>Delta SkyMiles and Northwest World Perks Mileage Programs</b><li>Customers earn mileage points with qualifying Shutterfly orders.</li></td>
<td><a href="http://www.shutterfly.com/delta" target="_blank"><img border="0" src="http://www.ccwchen.com/images/deltalogo.jpg"/></a></td>
</tr>


<tr>
<td><b>Web Loyalty Reservation Rewards</b><br /><li>Customers earn cash back on qualifying Shutterfly orders.</li></th>
<td><img border="0" src="http://www.ccwchen.com/images/wl_logo.png"/></a></td>
</tr>



<tr>
<th>Desktop Software</th>
<td><b>Adobe Photoshop Elements</b></br>
<li>Order Prints, Posters, Calendars, Photo Books, and Greeting Cards from Shutterfly directly on Photoshop Elements.</li>
<li>Upload photos from desktop to Shutterfly via Photoshop Elements.</li></td>
<td><img border="0" src="http://www.ccwchen.com/images/adobe2.png"/></br><img border="0" src="http://www.ccwchen.com/images/adobe.png"/></a></td>
</tr>



<tr>
<th rowspan="3">Social Media</th>
<td><b>Facebook</b></br><li>Pilot Shutterfly Photo Book application on Facebook.</li><li>Auto create a virtual photo book from user's Facebook photos.</li></td>
<td><a href="http://www.facebook.com/" target="_blank"><img border="0" src="http://www.ccwchen.com/images/fblogo.png"/></a></td>
</tr>

<tr>
<td><b>Flickr</b></br><li>Designed integration with Flickr for ordering prints and creating Shutterfly products.</li></td>
<td><a href="http://www.flickr.com" target="_blank"><img border="0" src="http://www.ccwchen.com/images/flickrlogo.png"/></a></td>
</tr>

<tr>
<td><b>Photo Contests</b></br><li>In-house and partner sponsored contests.</li></td>
<td><a href="http://www.shutterfly.com/contest" target="_blank"><img border="0" src="http://www.ccwchen.com/images/contest.jpg"/></a></td>
</tr>


<tr>
<th rowspan="3">Image Services</th>
<td><b>Custom Framing</b><li>Create and order custom frames for customer's Shutterfly photos.</li><li>Integrated with Art.com's framing studio.</li></td>
<td><a href="http://www.art.com"  target="_blank"><img border="0" src="http://www.ccwchen.com/images/artlogo.gif"/></a></td>
</tr>

<tr>
<td><b>Digital Picture Frame</b><li>Pre-load customer's Shutterfly photos onto the digital picture frame.</li></td>
<td><a href="http://www.pandigital.net/"  target="_blank"><img border="0" src="http://www.ccwchen.com/images/pandigital_logo.png"/></a></td>
</tr>

<tr>
<td><b>Scanning and Restoration</b><li>Upload customer's scanned or restored images to customer's Shutterfly account.</li></td>
<td><a href="http://www.scancafe.com"  target="_blank"><img border="0" src="http://www.ccwchen.com/images/scancafelogo.png"/></a></td>
</tr>

<tr>
<th rowspan="3">eCommerce</th>
<td><b>PayPal</b><li>Integrate PayPal as an additional payment method.</td>
<td><a href="http://www.paypal.com"  target="_blank"><img width="150" border="0" src="http://www.ccwchen.com/images/paypal_logo.gif"/></a></td>
</tr>

<tr>
<td><b>Customer Relationship Management (CRM)</b><li>Build tools to capture customer data (e.g. birth date, interests, and gifting occasions.).</li><li>Develop tools to enable user and order content driven targeted promotions with goal to accelerate next contact event or purchase cycle.</li></td>
<td><a href="http://www.shutterfly.com"  target="_blank"><img border="0" width="150" src="http://www.ccwchen.com/images/crm.jpg"/></td>
</tr>

<tr>
<td>	<b>Shutterfly Professional Photographers' Gallery Marketplace</b><li>A subscription based platform that enable photographers to sell prints and other photo products at their own prices and offer discounts of their choice.</li>
	<li>Launched new download product that allow photographers to sell digital copy of their photos.</li></td>
<td><a href="http://www.shutterfly.com/selling_photos_online/professional_photography.jsp" target="_blank"><img border="0" src="http://www.ccwchen.com/images/progal.png"/></a></td>
</tr>


<tr>
<th rowspan="2">Mobile Applications</th>
<td><b>Shutterfly iPhone Application</b>
<li>Upload, view, and share photos from the iPhone.</li>
<li>From prototype to launch and follow on releases.</li></td>
<td><a href="http://itunes.apple.com/us/app/shutterfly-for-iphone/id309465525?mt=8"  target="_blank"><img border="0" src="http://www.ccwchen.com/images/sflyiphonelogo.png"/></a></td>
</tr>

<tr>
<td><b>Wink | from Shutterfly</b><li>Create and order photo strips from the iPhone.</li><li>Integrated the Wink application to enable user to access their photos in their Shutterfly account.</li></td>
<td><a href="http://itunes.apple.com/us/app/id338742405?mt=8"  target="_blank"><img border="0" src="http://www.ccwchen.com/images/winklogo.png"/></a></td>
</tr>

<tr>
<th>Partner Integration Scalablity</th>
<td><b>Shutterfly Open APIs</b><li>Open API developer platform.</li><li>APIs that allow upload and access to Shutterfly photos and place orders for prints and select photo products.</li></br><u>Example of partners' implementation of Shutterfly Open APIs</u><li>PixMatter iPhone app</li><li>Pixelpipe web site and iPhone app</li><li>Eye-fi memory cards</li><li>Aurora desktop software</li><li>Adobe Lightroom 2 plug in</li></td>
<td><a href="http://www.shutterfly.com/developer" target="_blank"><img border="0" src="http://www.ccwchen.com/images/openfly.png" width="150" /></a></td>
</tr>


</table>

</div>		
