<% provide(:title, 'Professional Experience') %>
<h4>Professional</h4>

<table table class="table table-bordered">
<tr><th width="200">2010 to Present</th><td>Product Development and Business Strategy Consulting</td><td>Los Altos Hills, CA</td></tr>

</table>
